POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_DB=database
POSTGRES_USER=user
POSTGRES_PASSWORD=password

FLYWAY_URL=jdbc:postgresql://database:5432/database
FLYWAY_USER=user
FLYWAY_PASSWORD=password

OTEL_DENO=true
OTEL_EXPORTER_OTLP_ENDPOINT=http://lgtm:4318
OTEL_SERVICE_NAME=deno_server

BETTER_AUTH_SECRET=your-secret-here
BETTER_AUTH_URL=http://localhost:8000
