---
import Layout from "../../layouts/Layout.astro";
import ExerciseList from "../../components/ExerciseList.svelte";
const {id} = Astro.params;
export const prerender = false;
---

<Layout>
  <h1>Available exercises</h1>
  <ExerciseList languageId={id} client:load />
</Layout>
